@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-Bold.ttf);
	font-weight: 700;
}
.content__wrapper {
	margin: 0 120px;
}
* {
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
a:hover {
	opacity: 0.7;
}

ul {
	margin-left: 0;
	padding-left: 0;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Golos Text', 'Courier New', Courier, monospace;
	max-width: 1920px;
	scroll-behavior: smooth;
}
#button_up {
	position: fixed;
	right: 120px;
	bottom: 69px;
	z-index: 5;
}

.header {
	padding: 32px 120px 36px 120px;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	font-size: 24px;
}

.wrapper {
	max-width: 1400px;
}
.burger-checkbox {
	position: absolute;
	visibility: hidden;
}

.burger {
	position: relative;
	z-index: 1;
	cursor: pointer;
	display: block;
	border: none;
	background: transparent;
	width: 40px;
	height: 26px;
}

.burger::before,
.burger::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 10px;
	background: #000;
}

.burger::before {
	top: 0;
}

.burger::after {
	bottom: 0;
	transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
	top: 11px;
	transform: rotate(45deg);
	transition: transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
	bottom: 11px;
	transform: rotate(-45deg);
	transition: bottom 0.3s, transform 0.3s 0.15s;
}

.menu {
	position: fixed;
	top: 117px;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	transform: translateX(-100%);
	transition: transform 0.3s;
	overflow-y: auto;
	padding: 99px 0 0 145px;
	z-index: 5;
}

.burger-checkbox:checked ~ .menu {
	transform: translateX(0);
}

.menu-column {
	flex: 0 0 auto;
	padding: 20px;
	margin-right: 145px;
}

.menu-column h3 {
	margin-bottom: 35px;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 27px;
	font-weight: 600;
	pointer-events: none;
}

.menu-list {
	list-style-type: none;
	padding: 0;
}
.menu-list li {
	padding-bottom: 10px;
}
.menu-list a {
	margin-left: 77px;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 22px;
	font-weight: 500;
}

details summary {
	cursor: pointer;
	list-style: none;
	position: relative;
	padding-left: 40px;
	display: flex;
	align-items: center;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 22px;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background-image: url('./img/arrow_accord.svg');
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform 0.3s ease;
}

details[open] summary::before {
	transform: translateY(-50%) rotate(180deg);
}
details li {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
}
.header__wrapper {
	max-width: 1920px;
	display: flex;
	align-items: center;
}

.header__lc,
.header__rc {
	display: flex;
	gap: 30px;
	align-items: center;
}

.header__a {
	color: black;
	text-decoration: none;
}
.header__logo {
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 40px;
	font-weight: 600;
	pointer-events: none;
	margin: 0 478px 0 713px;
}
.header__searchbox {
	width: 30px;
	height: 30px;
	background: transparent;
	border: 0;
	cursor: pointer;
}
.header__searchbox:hover {
	opacity: 0.7;
}

.header__fav {
	width: 30px;
	height: 30px;
}
.header__fav:hover {
	opacity: 0.7;
}
.header__auth {
	display: flex;
	font-size: 16px;
	gap: 15px;
	padding: 10px 34px 10px 24px;
	border: 2px solid black;
	border-radius: 7px;
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 16px;
	font-weight: 500;
}
.header__auth:hover {
	opacity: 0.7;
}

.main__big-image {
	position: relative;
}

.main__big-image img {
	width: 70vw;
	position: absolute;
	top: -100px;
	right: +5%;
	z-index: -10;
	max-width: 1000px;
}

.first {
	max-width: 1920px;
	margin: 50px 0 0 0;
	display: flex;
	align-items: center;
	overflow: hidden;
	display: flex;
}

.main__text-container {
	max-width: 800px;
}

.main__banner {
	width: 100%;
	min-height: 505px;
	max-width: 1920px;
}

.main__h1 {
	font-size: 59px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -0.5px;
}

.main__desc {
	font-size: 39px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.5px;
	margin: 25px 0;
}
.main__note {
	color: rgb(90, 90, 90);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 47px;
}

.main__button {
	display: flex;
	padding: 22px 37px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: fit-content;
	border-radius: 7px;
	font-size: 25px;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: -0.5px;
	border: none;
	background: linear-gradient(45deg, rgba(191, 108, 34, 1) 0%, rgba(182, 30, 46, 1) 85%);
	color: white;
	text-decoration: none;
	margin-top: 30px;
}
.main__button:hover {
	background: linear-gradient(46.66deg, rgb(182, 30, 46) 25.832%, rgb(191, 108, 34) 105.711%);
}
.main__wrapper {
	width: 1747px;
	margin: 0;
}
.main__wrapper-header {
	font-family: 'Golos Text', 'Courier New', Courier, monospace;
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 25px;
	max-width: 500px;
}
.main__wrapper-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
.main__wrapper-sneaker {
	width: 332px;
	height: 283px;
}
.sneaker__content {
	padding: 15.78px 0 0 0;
	text-decoration: none;
	color: black;
}
.main__wrapper-img {
	max-width: 294.63px;
	height: 177.02px;
}
.main__wrapper-p {
	font-family: 'Golos Text', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 14px;
	color: rgb(144, 144, 144);
}
.main__wrapper-name {
	font-weight: 500;
	font-size: 20px;
	margin: 0;
}
.footer__bg {
	height: 100%;
	background-color: rgb(21, 21, 21);
}
.footer__wrapper {
	margin-top: 80px;
	display: flex;
}

.footer__about-nav {
	color: white;
	display: flex;
	padding: 80px 0 0 262px;
	justify-content: space-between;
	gap: 150px;
}
.footer__about-h {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 26px;
	font-weight: 600;
	margin: 0 0 26px 0;
	pointer-events: none;
}
.footer__about-link {
	text-decoration: none;
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	padding-top: 15px;
}
.footer__about-link:hover {
	opacity: 0.7;
}
.column {
	display: flex;
	flex-direction: column;
}
.footer__about-info {
	width: 320px;
	margin: 70px 0 0 223px;
	text-align: right;
}

.footer__logo {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 55px;
	font-weight: 600;
	pointer-events: none;
}

.footer__about-button {
	box-sizing: border-box;
	border: 2px solid rgb(227, 227, 227);
	border-radius: 7px;
	background-color: rgb(21, 21, 21);
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 20px;
	font-weight: 500;
	padding: 13px 29px 16px 26px;
	width: 227px;
	height: 57px;
	display: flex;
	align-items: center;
	margin-left: auto;
	text-decoration: none;
}
.footer__about-button:hover {
	opacity: 0.7;
}
.footer__about-p {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 18px;
	font-weight: 500;
	margin: 48px 0 21px 0;
}
.footer__about-robot {
	padding-right: 16px;
}

.footer__line {
	border: 1px solid rgb(90, 90, 90);
	margin: 76.5px 0 0 0;
}
.footer__social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40.5px 262px 40px 262px;
}
.footer__social-p {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	pointer-events: none;
}
.footer__social-link:hover {
	opacity: 0.7;
}
.footer__social-links {
	display: flex;
	gap: 29px;
}
.searchbox-bigbg {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(71, 71, 71, 0.5);
}
.searchbox-big {
	width: 1569px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 0 auto;
	padding-top: 67px;
}
.searchbox-form {
	display: flex;
	align-items: center;
	margin-bottom: 39px;
}
#search__input {
	width: 1377px;
	height: 53px;
	box-sizing: border-box;
	border: 1px solid rgb(21, 21, 21);
	border-radius: 10px;
	color: rgb(178, 178, 178);
	font-family: Golos;
	font-size: 22px;
	font-weight: 400;
	margin: 0 13px 0 67px;
	padding-left: 67px;
}

#search__submit {
	border-radius: 10px;
	background: rgb(21, 21, 21);
	width: 176px;
	height: 53px;
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 22px;
	font-weight: 600;
	margin: 0 96px 0 0;
	cursor: pointer;
}
.search-icon {
	position: absolute;
	margin-left: 91px;
	margin: 16px 0 18px 91px;
}
.searchbox__wrapper {
	display: flex;
}
.searchbox__popular-names {
	max-width: 250px;
	margin-left: 96px;
}
.searchbox-p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 27px;
	font-weight: 600;
	margin-bottom: 23px;
}
.searchbox-list {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 22px;
	font-weight: 400;
	align-items: center;
	margin-bottom: 9px;
}
.searchbox-list-a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.searchbox-list-a:hover {
	opacity: 0.7;
}
.searchbox-magnifier {
	margin-right: 17px;
}

.searchbox__popular-items {
	margin: 10px 0 0 169px;
}
.searchbox__popular-cards {
	display: flex;
	margin-bottom: 67px;
}
.searchbox__popular-img {
	width: 222px;
	height: 134px;
}
.searchbox__popular-img:hover {
	opacity: 0.9;
}

.searchbox__popular-p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 18px;
	font-weight: 400;
	margin: 19px 0 5px 0;
}
.searchbox__popular-name {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 18px;
	font-weight: 500;
}
.searchbox__popular-sneaker {
	width: 241px;
	height: 219px;
}
.searchbox__popular-content {
	text-decoration: none;
}

#searchbox__close-button {
	position: absolute;
	background: transparent;
	border: 0;
	cursor: pointer;
	right: 127.8px;
	top: 24px;
}

.auth__wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	background: rgba(71, 71, 71, 0.5);
	z-index: 5;
}
.auth__bg {
	width: 535px;
	height: 375px;
	border-radius: 10px;
	backdrop-filter: blur(4px);
	background: rgb(255, 255, 255);
	margin: 332px auto 0 auto;
}

.auth__head {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 27px;
	font-weight: 600;
}
.auth__desc {
	color: rgb(85, 85, 85);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	margin: 30px 0 15px 0;
}
.auth__form {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 62px;
}

#phoneNum {
	box-sizing: border-box;
	border: 1px solid rgb(85, 85, 85);
	border-radius: 10px;
	width: 400px;
	height: 57px;
	color: rgb(178, 178, 178);
	font-family: Golos;
	font-size: 22px;
	font-weight: 400;
	padding-left: 26.5px;
}
#phoneSubmit {
	width: 400px;
	height: 57px;
	border-radius: 10px;
	background: rgb(21, 21, 21);
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 22px;
	font-weight: 600;
	margin-top: 15px;
	text-indent: -70px;
	cursor: pointer;
}
.arrow_forward {
	position: absolute;
	width: 8.96px;
	height: 14.9px;
	bottom: 103.41px;
	right: 190.6px;
}
#auth__close-button {
	position: absolute;
	background: transparent;
	border: 0;
	width: 20.2px;
	height: 20px;
	right: 657px;
	top: 340px;
	cursor: pointer;
}

.cookie__wrapper {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 150vh;
}
.cookie__modal-wrapper {
	width: 574px;
	height: 241px;
	box-sizing: border-box;
	border: 1px solid rgb(21, 21, 21);
	border-radius: 7px;
	background: rgb(255, 255, 255);
	z-index: 2;
}
.cookie__text {
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	padding: 35px 45px 0 45px;
}
.cookie__button {
	display: flex;
	border-radius: 7px;
	background: rgb(21, 21, 21);
	height: 45px;
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 41px 11px 44px;
	border: none;
	margin: 28px auto 0 auto;
	cursor: pointer;
}
/* * {
	outline: 1px solid aqua;
} */
@media screen and (max-width: 1844px) and (min-width: 1693px) {
	body {
		max-width: 1844px;
	}
	.header__logo {
		margin: 0 440px 0 513px;
	}
	.main__h1 {
		font-size: 53px;
	}
	.main__desc {
		font-size: 35px;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1601px;
	}
	.main__wrapper {
		max-width: 1601px;
	}
}
@media screen and (max-width: 1692px) and (min-width: 1602px) {
	body {
		max-width: 1481px;
	}
	.header__logo {
		margin: 0 278px 0 513px;
	}
	.main__h1 {
		max-width: 600px;
		font-size: 50px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image {
		width: 300px;
		height: 300px;
		position: absolute;
		right: 214px;
		box-sizing: border-box;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1323px;
	}
	.main__wrapper {
		max-width: 1323px;
	}
	.footer__about-info {
		margin: 70px 0 0 60px;
	}
	.footer__about-nav {
		padding: 80px 0 0 152px;
	}
	#button_up {
		right: 12%;
	}
}
@media screen and (max-width: 1601px) and (min-width: 1481px) {
	body {
		max-width: 1481px;
	}
	.header__logo {
		margin: 0 278px 0 513px;
	}
	.main__h1 {
		max-width: 600px;
		font-size: 50px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image {
		width: 300px;
		height: 300px;
		position: absolute;
		right: 80px;
		box-sizing: border-box;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1323px;
	}
	.main__wrapper {
		max-width: 1323px;
	}
	.footer__about-info {
		margin: 70px 0 0 60px;
	}
	.footer__about-nav {
		padding: 80px 0 0 152px;
	}
	#button_up {
		right: 12%;
	}
	.main__desc {
		margin: 20px 0;
	}
	.main__note {
		margin-bottom: 40px;
	}
	.searchbox-big {
		max-width: 1000px;
	}
	.searchbox__popular-sneaker:nth-of-type(3),
	.searchbox__popular-sneaker:nth-of-type(4) {
		display: none;
	}
	#search__input {
		max-width: 650px;
	}
}

@media screen and (max-width: 1480px) and (min-width: 1440px) {
	body {
		max-width: 1440px;
	}
	.header__logo {
		margin: 0 278px 0 513px;
	}
	.main__h1 {
		max-width: 600px;
		font-size: 50px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image {
		width: 50%;
		height: 30%;
		position: absolute;
		left: 700px;
		box-sizing: border-box;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1323px;
	}
	.main__wrapper {
		max-width: 1323px;
	}
	.footer__about-info {
		margin: 70px 0 0 60px;
	}
	.footer__about-nav {
		padding: 80px 0 0 152px;
	}
	#button_up {
		right: 5%;
	}
	.main__desc {
		margin: 20px 0;
	}
	.main__note {
		margin-bottom: 40px;
	}
	.searchbox-big {
		max-width: 1000px;
	}
	.searchbox__popular-sneaker:nth-of-type(3),
	.searchbox__popular-sneaker:nth-of-type(4) {
		display: none;
	}
	#search__input {
		max-width: 650px;
	}
}
@media screen and (max-width: 1439px) and (min-width: 1101px) {
	body {
		max-width: 1439px;
	}
	.header__logo {
		margin: 0 18% 0 68%;
	}
	.header__searchbox {
		margin-left: 40px;
	}
	.main__text-container {
		max-width: 400px;
	}
	.main__h1 {
		font-size: 36px;
		margin-top: 25px;
	}
	.main__desc {
		font-size: 18px;
		margin: 10px 0;
	}
	.main__note {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.main__button {
		padding: 10px 22px;
	}
	.main__big-image img {
		position: absolute;
		max-width: 600px;
		top: -35px;
		left: 30%;
	}
	.main__banner {
		min-height: 420px;
	}
	.main__wrapper {
		max-width: 982px;
		margin: 0;
	}
	.main__wrapper-sneaker {
		width: 25%;
		height: 220px;
	}
	.main__wrapper-row {
		max-width: 1024px;
	}
	.main__wrapper-img {
		width: 220px;
		height: auto;
	}
	.footer__about-nav {
		padding-left: 30px;
		gap: 20px;
	}
	.footer__about-info {
		margin-left: 130px;
	}
	.footer__social {
		padding: 40px 100px 40px 100px;
	}
	#button_up img {
		width: 40px;
		height: 40px;
	}
	#button_up {
		right: 2%;
	}
	.menu-column {
		margin-right: 40px;
		padding: 10px;
	}
	.searchbox-big {
		max-width: 1000px;
	}
	.searchbox__popular-sneaker:nth-of-type(3),
	.searchbox__popular-sneaker:nth-of-type(4) {
		display: none;
	}
	#search__input {
		max-width: 650px;
	}
}

@media screen and (max-width: 1110px) and (min-width: 1024px) {
	body {
		max-width: 1110px;
	}
	.header {
		padding: 2%;
	}
	.content__wrapper {
		margin: 0 60px;
	}
	.main__text-container {
		max-width: 400px;
	}
	.header__logo {
		margin: 0 29% 0 65%;
	}
	.main__h1 {
		font-size: 36px;
		margin-top: 25px;
	}
	.main__desc {
		font-size: 18px;
		margin: 10px 0;
	}
	.main__note {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.first {
		display: flex;
	}
	.main__banner {
		min-height: 0;
		height: 450px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image img {
		position: absolute;
		max-width: 600px;
		top: -35px;
		left: 30%;
	}
	.main__wrapper {
		max-width: 930px;
		margin: 0;
	}
	.main__wrapper-img {
		width: 220px;
		height: auto;
	}
	.main__wrapper-sneaker {
		width: 25%;
		height: 220px;
	}
	.main__wrapper-row {
		max-width: 1024px;
	}
	.sneaker__content {
		padding-left: 0;
	}
	.footer__about-nav {
		padding-left: 30px;
		gap: 20px;
	}
	.footer__about-info {
		margin-left: 40px;
	}
	.footer__social {
		padding: 40px 100px 40px 100px;
	}
	#button_up img {
		width: 40px;
		height: 40px;
	}
	#button_up {
		right: 2%;
	}
	.menu {
		padding-left: 70px;
	}
	.menu-column {
		margin-right: 20px;
		padding: 10px;
	}
	.searchbox-big {
		max-width: 1000px;
	}
	.searchbox__popular-sneaker:nth-of-type(3),
	.searchbox__popular-sneaker:nth-of-type(4) {
		display: none;
	}
	#search__input {
		max-width: 650px;
	}
}

@media screen and (max-width: 1023px) and (min-width: 902px) {
	body {
		max-width: 1023px;
	}
	.header {
		padding: 2%;
		padding-left: 60px;
		max-width: 1023px;
	}
	.header__auth {
		gap: 0;
		margin-right: -2px;
	}
	.content__wrapper {
		margin: 0 60px;
	}
	.main__text-container {
		max-width: 400px;
	}
	.header__logo {
		margin: 0 15% 0 60%;
	}
	.main__h1 {
		font-size: 36px;
		margin-top: 25px;
	}
	.main__desc {
		font-size: 18px;
		margin: 10px 0;
	}
	.main__note {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.first {
		display: flex;
	}
	.main__banner {
		min-height: 0;
		height: 450px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image img {
		position: absolute;
		max-width: 500px;
		top: -35px;
		left: 40%;
	}
	.main__wrapper {
		max-width: 900px;
		margin: 0;
		width: auto;
	}
	.main__wrapper-img {
		width: 220px;
		height: auto;
	}
	.main__wrapper-sneaker {
		width: 33%;
		height: 220px;
	}
	.main__wrapper-row {
		max-width: 1024px;
	}
	.sneaker__content {
		padding-left: 0;
	}
	.footer__about-nav {
		padding-left: 30px;
		gap: 20px;
	}
	.footer__about-info {
		margin-left: 30px;
		padding-right: 10px;
	}
	.footer__bg {
		width: 100%;
	}
	.footer__wrapper {
		width: 100%;
	}
	.footer__social {
		padding: 40px 100px 40px 100px;
	}
	#button_up img {
		width: 40px;
		height: 40px;
	}
	#button_up {
		right: 8%;
	}
	.menu {
		padding-left: 70px;
	}
	.menu-column {
		margin-right: 20px;
		padding: 10px;
	}
	.searchbox-bigbg {
		width: 100%;
	}
	.searchbox-big {
		width: 393px;
		padding-top: 23px;
	}
	#searchbox__close-button {
		display: none;
	}
	.searchbox-arrow {
		display: block;
		position: absolute;
		background: transparent;
		top: 33px;
		left: 12px;
	}
	#search__input {
		width: 300px;
		height: 35px;
		margin: 0 0 0 34px;
		padding-left: 10px;
	}
	#search__input::placeholder {
		color: transparent;
	}
	#search__submit {
		position: absolute;
		width: 90px;
		height: 35px;
		margin-left: 285px;
		font-size: 14px;
	}
	.search-icon {
		display: none;
	}
	.searchbox-p {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.searchbox-list-a {
		font-size: 12px;
	}
	.searchbox-magnifier {
		width: 15px;
		height: 15px;
		margin-right: 8px;
	}
	.searchbox__popular-items {
		display: none;
	}
	.searchbox-form {
		margin-bottom: 16px;
	}
	.searchbox__popular-names {
		margin-left: 34px;
	}
	.serachbox-list {
		margin-bottom: 10px;
	}
}

/* мобильная версия */
.footer__bg-mobile {
	display: none;
	height: 100%;
	background-color: rgb(21, 21, 21);
}
.mobile__wrapper {
	display: none;
}
.toggle-switch {
	display: flex;
	justify-content: center;
	border-radius: 7px;
	overflow: hidden;
	margin: 0 16px;
}

.option {
	padding: 7px 46px 8px 50px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.option:not(.active) {
	background: rgb(233, 233, 233);
	color: rgb(21, 21, 21);
}

.option.active {
	background: rgb(21, 21, 21);
	color: #fff;
}

.option:first-child {
	border-radius: 7px 0 0 7px;
	font-family: Golos;
	font-size: 14px;
	font-weight: 600;
}

.option:last-child {
	border-radius: 0 7px 7px 0;
	font-family: Golos;
	font-size: 14px;
	font-weight: 600;
}
.mobile__content {
	margin: 31px 16px 15px 16px;
}
.mobile__content-header {
	display: flex;
	justify-content: space-between;
}
.mobile__watch-all {
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: rgb(233, 233, 233);
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 12px;
	font-weight: 600;
	padding: 4px 22px;
	text-decoration: none;
}

.mobile__watch-all img {
	margin-left: 8px;
	width: 10px;
	height: 10px;
}
.grid-container {
	display: flex;
	margin: 0 15px;
}
.grid-item {
	border-radius: 10px;
	background: rgba(21, 21, 21, 0.25);
	/* на background: url() можно заменить */
	padding: 80px 0 0 14px;
}
.grid-item a {
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 14px;
	font-weight: 500;
}
.large {
	width: 189px;
	height: 115px;
	margin-right: 8px;
}
.small {
	width: 164px;
	height: 115px;
}
.small-1 {
	width: 164px;
	height: 115px;
	margin: 10px 8px 10px 0;
}
.large-1 {
	width: 189px;
	height: 115px;
	margin: 10px 0 10px 8px;
}
.mobile__go-catalog {
	margin: 30px auto;
	display: block;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid rgb(21, 21, 21);
	border-radius: 7px;
	background: transparent;
}
.mobile__go-catalog img {
	margin-left: 8px;
	width: 10px;
	height: 10px;
}
.searchbox-arrow {
	display: none;
}
@media screen and (max-width: 902px) and (min-width: 425px) {
	.mobile__content {
		margin: 31px auto 15px auto;
	}
	.mobile__content-header {
		justify-content: center;
		gap: 30%;
	}
	.footer__bg-mobile {
		display: block;
		padding-top: 38px;
	}
	.mobile__wrapper {
		display: block;
	}
	.content__wrapper {
		display: none;
	}
	.footer__bg {
		display: none;
	}
	.header {
		padding: 20px 17px 21px 16px;
	}
	.header__wrapper {
		width: 100%;
	}
	.header__logo {
		margin: 0 auto 0 auto;
	}
	.header__logo {
		font-size: 20px;
	}
	.header__searchbox {
		padding: 0;
		position: absolute;
		left: 59px;
		width: 18px;
		height: 18px;
	}
	.header__searchbox img {
		width: 18px;
		height: 18px;
	}
	.header__fav {
		width: 24px;
		height: 23px;
	}
	.header__fav img {
		width: 24px;
		height: 23px;
	}
	.header__auth {
		width: 16px;
		height: 18px;
		padding: 0;
		border: 0;
	}
	.header__auth p {
		display: none;
	}
	.burger {
		height: 6px;
		width: 18px;
	}
	.burger::before {
		width: 18px;
		height: 2.4px;
	}
	.burger::after {
		width: 18px;
		height: 1.8px;
	}
	.burger-checkbox:checked + .burger::before {
		top: 0px;
	}

	.burger-checkbox:checked + .burger::after {
		bottom: 4px;
	}
	.burger-menu {
		position: absolute;
		left: 16px;
	}
	.header__rc {
		gap: 24px;
	}
	.menu {
		top: 66px;
		padding: 0px;
		flex-direction: column;
	}
	.menu-list a {
		font-size: 12px;
	}
	.menu-list li {
		padding-bottom: 2px;
	}
	.menu-column {
		margin-right: 0px;
		max-height: 200px;
		margin-bottom: 15px;
		padding: 5px 20px 0 20px;
	}
	.menu-column h3 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	details summary {
		font-size: 12px;
		margin-bottom: 5px;
	}
	details summary::before {
		height: 15px;
		width: 15px;
	}
	#button_up {
		display: none;
	}
	.main__h1 {
		color: rgb(21, 21, 21);
		font-family: Golos;
		font-size: 24px;
		font-weight: 700;
		max-width: 344px;
	}
	.footer__wrapper {
		display: block;
	}
	.main__desc {
		color: rgb(39, 39, 39);
		font-family: Golos;
		font-size: 14px;
		font-weight: 500;
		max-width: 300px;
		margin: 12px 0 11.5px 0;
	}
	.main__note {
		color: rgb(90, 90, 90);
		font-family: Golos;
		font-size: 12px;
		font-weight: 400;
		max-width: 300px;
		margin-bottom: 31.5px;
	}
	.grid-container {
		display: flex;
		justify-content: center;
	}
	.mobile__first {
		max-width: 340px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 32px auto 0 auto;
	}
	.footer__bg {
		padding-top: 38px;
	}
	.footer__about-nav {
		padding: 0;
		gap: 0;
		flex-wrap: wrap;
		max-width: 270px;
		margin: 0 auto;
	}
	.footer__about-info {
		margin: 0 auto;
		max-height: 150px;
		text-align: left;
	}
	.footer__about-h {
		font-size: 18px;
		margin-bottom: 3px;
	}
	.footer-margin {
		margin-top: 27px;
	}
	.footer__about-link {
		font-size: 14px;
		padding-top: 12px;
		max-width: 130px;
	}

	.footer__wrapper {
		margin-top: 0;
	}
	.footer__logo {
		font-size: 40px;
		margin: 38px 0 0 44px;
	}
	.footer__about-button {
		padding: 8px 26px 11px 26px;
		font-size: 18px;
		margin: 20px 0 33px 48px;
	}
	.footer__social {
		padding: 22.5px 46px 26px 47px;
	}
	.footer__social-p {
		font-size: 12px;
		max-width: 150px;
	}
	.footer__social-link {
		width: 24.94px;
		height: 25px;
	}
	.footer__social-link img {
		width: 24.94px;
		height: 25px;
	}
	.auth__head {
		font-size: 16px;
	}
	.auth__desc {
		font-size: 12px;
		margin: 9px 0;
	}
	#phoneNum {
		width: 315px;
		height: 35px;
		font-size: 12px;
	}
	#phoneSubmit {
		width: 315px;
		height: 35px;
		font-size: 14px;
	}
	.arrow_forward {
		bottom: 45.41px;
		right: 160.6px;
	}
	.auth__bg {
		width: 393px;
		height: 198px;
	}
	.auth__form {
		padding: 24px 0 0 39px;
	}
	.auth__close-button {
		display: none;
	}
	.auth__close-button img {
		display: none;
	}
	.cookie__modal-wrapper {
		width: 340px;
		height: 136px;
	}
	.cookie__text {
		font-size: 12px;
		padding: 20px 0 0 23px;
		max-width: 318px;
		height: 84px;
	}
	.cookie__button {
		width: 70px;
		height: 25px;
		font-size: 12px;
		margin-top: 14px;
		padding: 5px 0 0 25px;
	}
	.searchbox-bigbg {
		width: 100%;
	}
	.searchbox-big {
		width: 393px;
		padding-top: 23px;
	}
	#searchbox__close-button {
		display: none;
	}
	.searchbox-arrow {
		display: block;
		position: absolute;
		background: transparent;
		top: 33px;
		margin-left: 12px;
	}
	#search__input {
		width: 300px;
		height: 35px;
		margin: 0 0 0 34px;
		padding-left: 10px;
	}
	#search__input::placeholder {
		color: transparent;
	}
	#search__submit {
		position: absolute;
		width: 90px;
		height: 35px;
		margin-left: 285px;
		font-size: 14px;
	}
	.search-icon {
		display: none;
	}
	.searchbox-p {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.searchbox-list-a {
		font-size: 12px;
	}
	.searchbox-magnifier {
		width: 15px;
		height: 15px;
		margin-right: 8px;
	}
	.searchbox__popular-items {
		display: none;
	}
	.searchbox-form {
		margin-bottom: 16px;
	}
	.searchbox__popular-names {
		margin-left: 34px;
	}
	.serachbox-list {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 424px) {
	.footer__bg-mobile {
		display: block;
		padding-top: 38px;
	}
	.mobile__wrapper {
		display: block;
	}
	.content__wrapper {
		display: none;
	}
	.footer__bg {
		display: none;
	}
	.header {
		padding: 20px 17px 21px 16px;
	}
	.header__wrapper {
		width: 100%;
	}
	.header__logo {
		margin: 0 66px 0 133px;
	}
	.header__logo {
		font-size: 20px;
	}
	.header__searchbox {
		padding: 0;
		position: absolute;
		left: 59px;
		width: 18px;
		height: 18px;
	}
	.header__searchbox img {
		width: 18px;
		height: 18px;
	}
	.header__fav {
		width: 24px;
		height: 23px;
	}
	.header__fav img {
		width: 24px;
		height: 23px;
	}
	.header__auth {
		width: 16px;
		height: 18px;
		padding: 0;
		border: 0;
	}
	.header__auth p {
		display: none;
	}
	.burger {
		height: 6px;
		width: 18px;
	}
	.burger::before {
		width: 18px;
		height: 2.4px;
	}
	.burger::after {
		width: 18px;
		height: 1.8px;
	}
	.burger-checkbox:checked + .burger::before {
		top: 0px;
	}

	.burger-checkbox:checked + .burger::after {
		bottom: 4px;
	}
	.burger-menu {
		position: absolute;
		left: 16px;
	}
	.header__rc {
		gap: 24px;
	}
	.menu {
		top: 66px;
		padding: 0px;
		flex-direction: column;
	}
	.menu-list a {
		font-size: 12px;
	}
	.menu-list li {
		padding-bottom: 2px;
	}
	.menu-column {
		margin-right: 0px;
		max-height: 200px;
		margin-bottom: 15px;
		padding: 5px 20px 0 20px;
	}
	.menu-column h3 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	details summary {
		font-size: 12px;
		margin-bottom: 5px;
	}
	details summary::before {
		height: 15px;
		width: 15px;
	}
	#button_up {
		display: none;
	}
	.main__h1 {
		color: rgb(21, 21, 21);
		font-family: Golos;
		font-size: 24px;
		font-weight: 700;
		max-width: 344px;
	}
	.footer__wrapper {
		display: block;
	}
	.main__desc {
		color: rgb(39, 39, 39);
		font-family: Golos;
		font-size: 14px;
		font-weight: 500;
		max-width: 300px;
		margin: 12px 0 11.5px 0;
	}
	.main__note {
		color: rgb(90, 90, 90);
		font-family: Golos;
		font-size: 12px;
		font-weight: 400;
		max-width: 300px;
		margin-bottom: 31.5px;
	}
	.mobile__first {
		margin: 32px 0 0 16px;
	}
	.footer__bg {
		padding-top: 38px;
	}
	.footer__about-nav {
		padding: 0;
		gap: 0;
		flex-wrap: wrap;
		max-width: 270px;
		margin: 0 auto;
	}
	.footer__about-info {
		margin: 0;
		max-height: 150px;
		text-align: left;
	}
	.footer__about-h {
		font-size: 18px;
		margin-bottom: 3px;
	}
	.footer-margin {
		margin-top: 27px;
	}
	.footer__about-link {
		font-size: 14px;
		padding-top: 12px;
		max-width: 130px;
	}

	.footer__wrapper {
		margin-top: 0;
	}
	.footer__logo {
		font-size: 40px;
		margin: 38px 0 0 44px;
	}
	.footer__about-button {
		padding: 8px 26px 11px 26px;
		font-size: 18px;
		margin: 20px 0 33px 48px;
	}
	.footer__social {
		padding: 22.5px 46px 26px 47px;
	}
	.footer__social-p {
		font-size: 12px;
		max-width: 150px;
	}
	.footer__social-link {
		width: 24.94px;
		height: 25px;
	}
	.footer__social-link img {
		width: 24.94px;
		height: 25px;
	}
	/*  */
	.auth__head {
		font-size: 16px;
	}
	.auth__desc {
		font-size: 12px;
		margin: 9px 0;
	}
	#phoneNum {
		width: 315px;
		height: 35px;
		font-size: 12px;
	}
	#phoneSubmit {
		width: 315px;
		height: 35px;
		font-size: 14px;
	}
	.arrow_forward {
		bottom: 45.41px;
		right: 160.6px;
	}
	.auth__bg {
		width: 393px;
		height: 198px;
	}
	.auth__form {
		padding: 24px 0 0 39px;
	}
	.auth__close-button {
		display: none;
	}
	.auth__close-button img {
		display: none;
	}
	.cookie__modal-wrapper {
		width: 340px;
		height: 136px;
	}
	.cookie__text {
		font-size: 12px;
		padding: 20px 0 0 23px;
		max-width: 318px;
		height: 84px;
	}
	.cookie__button {
		width: 70px;
		height: 25px;
		font-size: 12px;
		margin-top: 14px;
		padding: 5px 0 0 25px;
	}
	.searchbox-bigbg {
		width: 100%;
	}
	.searchbox-big {
		width: 393px;
		padding-top: 23px;
	}
	#searchbox__close-button {
		display: none;
	}
	.searchbox-arrow {
		display: block;
		position: absolute;
		background: transparent;
		top: 33px;
		left: 12px;
	}
	#search__input {
		width: 300px;
		height: 35px;
		margin: 0 0 0 34px;
		padding-left: 10px;
	}
	#search__input::placeholder {
		color: transparent;
	}
	#search__submit {
		position: absolute;
		width: 90px;
		height: 35px;
		margin-left: 285px;
		font-size: 14px;
	}
	.search-icon {
		display: none;
	}
	.searchbox-p {
		font-size: 12px;
		margin-bottom: 10px;
	}
	.searchbox-list-a {
		font-size: 12px;
	}
	.searchbox-magnifier {
		width: 15px;
		height: 15px;
		margin-right: 8px;
	}
	.searchbox__popular-items {
		display: none;
	}
	.searchbox-form {
		margin-bottom: 16px;
	}
	.searchbox__popular-names {
		margin-left: 34px;
	}
	.serachbox-list {
		margin-bottom: 10px;
	}
}

/* 404 */
.notfound__wrapper {
	max-width: 1377px;
	margin: 0 auto;
}
.notfound__header {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 500;
	margin: 75px 0 27px 0;
}
.search-icon {
	position: absolute;
	margin-left: 91px;
	margin: 16px 0 18px 91px;
}
.notfound-icon {
	position: absolute;
	margin: 0 0 0 22px;
}
.notfound__input {
	box-sizing: border-box;
	border: 1px solid rgb(21, 21, 21);
	border-radius: 10px;
	padding: 14px 0 12px 67px;
	width: 85%;
	height: 53px;
	color: rgb(178, 178, 178);
	font-family: Golos;
	font-size: 22px;
	font-weight: 400;
	margin-right: 13px;
}
.notfound__submit {
	border-radius: 10px;
	background: rgb(21, 21, 21);
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 22px;
	font-weight: 600;
	padding: 13px 54px;
}
.notfound__go-main {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 32px;
	font-weight: 400;
	margin: 40px 0 50px 0;
}
.notfound__recomendation {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 50px;
}
.notfound__recomendation-goods {
	display: flex;
	gap: 21px;
}
.notfound__recomendation-sneaker {
	width: 355px;
}
.notfound__recomendation-p {
	color: rgb(144, 144, 144);
	font-family: Golos;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 10px;
}
.notfound__recomendation-name {
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 20px;
	font-weight: 500;
}
.notfound__form {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 1310px) {
	.notfound__wrapper {
		max-width: 900px;
	}
	.notfound__input {
		max-width: 70%;
	}
	.notfound__recomendation-sneaker:last-child {
		display: none;
	}
}
@media screen and (max-width: 915px) {
	.notfound__wrapper {
		max-width: 600px;
	}
	.notfound__input {
		max-width: 60%;
	}
	.notfound__recomendation-sneaker:nth-of-type(3) {
		display: none;
	}
	.notfound__submit {
		padding: 10px 44px;
	}
}
@media screen and (max-width: 625px) {
	.notfound__wrapper {
		max-width: 300px;
	}
	.notfound__header {
		font-size: 20px;
		max-width: 250px;
		margin: 55px auto 27px auto;
	}
	.notfound__input {
		max-width: 200px;
	}
	.notfound__recomendation-goods {
		display: none;
	}
	.notfound__recomendation {
		display: none;
	}
	.notfound__input::placeholder {
		color: transparent;
	}
	.notfound__submit {
		padding: 15px 10px;
		font-size: 15px;
	}
	.notfound__go-main {
		font-size: 15px;
		margin: 20px 0;
	}
}

/* help */
.help_text {
	color: rgb(255, 255, 255);
	font-family: Golos Text;
	font-size: 59px;
	font-weight: 700;
	margin-left: 50px;
}
.help__questions {
	display: flex;
	margin: 81px auto 0 auto;
	justify-content: space-between;
	max-width: 1396px;
}
.help__column {
	display: flex;
	flex-direction: column;
	max-width: 566px;
}
.help__column h3 {
	color: rgb(0, 0, 0);
	font-family: Golos Text;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 13px;
}
.help__column p {
	color: rgb(0, 0, 0);
	font-family: Golos Text;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 45px;
}
.help__question-btn {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border: 2px solid rgb(21, 21, 21);
	border-radius: 7px;
	background: rgb(255, 255, 255);
	padding: 30px 48px 25px 48px;
	max-width: 405px;
	color: rgb(0, 0, 0);
	font-family: Golos Text;
	font-size: 32px;
	font-weight: 500;
	width: 405px;
	height: 98px;
	cursor: pointer;
}
.help__logo {
	margin-right: 27px;
}
.help__FAQ {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 1442px;
}
.help__FAQ h2 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 40px;
	font-weight: 700;
	margin: 27px 0 10px 0;
}
.help__underline {
	background: rgb(21, 21, 21);
	width: 120px;
	height: 5px;
	margin-bottom: 60.5px;
}
.accordion {
	border-top: 1px solid rgb(199, 199, 199);
	border-right: none;
	border-bottom: 1px solid rgb(199, 199, 199);
	border-left: none;
	background-color: transparent;
	color: #444;
	cursor: pointer;
	padding: 41px 60px 41px 0;
	width: 100%;
	text-align: left;
	outline: none;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 40px;
	font-weight: 700;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.accordion img {
	transition: transform 0.3s;
	margin-left: auto;
}
.active img {
	transform: rotate(180deg);
}
.panel {
	padding: 30px 0 33px 0;
	display: none;
	background-color: white;
	overflow: hidden;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.help__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 884px;
	margin: 80px 0 120px 0;
}
.help__form h3 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 40px;
	font-weight: 700;
}
.help__form p {
	font-family: Golos;
	font-size: 32px;
	font-weight: 400;
	margin: 40px 0 25px 0;
}
.help__underline-form {
	background: rgb(21, 21, 21);
	width: 380px;
	height: 5px;
}
.help__form-input {
	box-sizing: border-box;
	border: 1px solid rgb(183, 183, 183);
	border-radius: 7px;
	color: rgb(201, 201, 201);
	font-family: Golos;
	font-size: 32px;
	font-weight: 400;
	padding: 27px 0 26px 38px;
}
.help__input-text {
	height: 337px;
	padding: 27px 0 240px 38px;
	color: rgb(201, 201, 201);
	font-family: Golos;
	font-size: 32px;
	font-weight: 400;
	box-sizing: border-box;
	border: 1px solid rgb(183, 183, 183);
	border-radius: 7px;
}
#help__submit-btn {
	border-radius: 7px;
	background: rgb(21, 21, 21);
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 32px;
	font-weight: 500;
	margin-top: 44px;
	padding: 21px 75px 29px 80px;
	max-width: 334px;
}

@media screen and (max-width: 1223px) and (min-width: 768px) {
	.help__questions {
		margin-top: 30px;
		max-width: 600px;
	}
	.help_text {
		font-size: 36px;
		margin-left: 14px;
	}
	.help__banner {
		width: 100%;
	}
	.help__organge {
		width: 10px;
		height: 15px;
	}
	.help__column h3 {
		font-size: 16px;
		margin-bottom: 14px;
	}
	.help__column p {
		font-size: 14px;
		margin-bottom: 25px;
	}
	.help__question-btn {
		max-width: 200px;
		max-height: 50px;
		font-size: 12px;
		padding: 10px 20px;
	}
	.help__logo {
		width: 30px;
	}
	.help__FAQ {
		max-width: 600px;
	}
	.help__FAQ h2 {
		margin: 30px 0 6px 0;
		font-size: 20px;
	}
	.help__underline {
		width: 55px;
		margin-bottom: 34.5px;
	}
	.accordion {
		font-size: 16px;
		padding: 14.5px 0 15.5px 0;
	}
	.panel {
		font-size: 14px;
		padding: 15.5px 0 10px 0;
	}
	.help__form {
		margin-top: 40.5px;
		font-size: 16px;
		margin-bottom: 36px;
	}
	.help__form h3 {
		font-size: 20px;
	}
	.help__underline-form {
		margin-top: 6px;
		width: 193px;
	}
	.help__form p {
		font-size: 16px;
		margin: 25px 0 14px 0;
	}
	.help__form-input {
		max-width: 311px;
		font-size: 14px;
		padding: 11px 0 12px 20px;
	}
	.help__input-text {
		font-size: 14px;
		height: 150px;
		max-width: 311px;
		padding-left: 20px;
	}
	#help__submit-btn {
		margin-top: 15px;
		max-width: 130px;
		font-size: 14px;
		padding: 6px 26px 4px 26px;
	}
}

@media screen and (max-width: 768px) {
	.help__questions {
		flex-direction: column;
		margin-top: 30px;
		max-width: 344px;
	}
	.help_text {
		font-size: 20px;
		margin-left: 14px;
	}
	.help__column h3 {
		font-size: 16px;
		margin-bottom: 14px;
	}
	.help__column p {
		font-size: 14px;
		margin-bottom: 25px;
	}
	.help__question-btn {
		display: none;
	}
	.help__FAQ {
		max-width: 344px;
	}
	.help__FAQ h2 {
		margin: 30px 0 6px 0;
		font-size: 20px;
	}
	.help__underline {
		width: 55px;
		margin-bottom: 34.5px;
	}
	.accordion {
		font-size: 16px;
		padding: 14.5px 0 15.5px 0;
	}
	.panel {
		font-size: 14px;
		padding: 15.5px 0 10px 0;
	}
	.help__form {
		margin-top: 40.5px;
		font-size: 16px;
		margin-bottom: 36px;
	}
	.help__form h3 {
		font-size: 20px;
	}
	.help__underline-form {
		margin-top: 6px;
		width: 193px;
	}
	.help__form p {
		font-size: 16px;
		margin: 25px 0 14px 0;
	}
	.help__form-input {
		max-width: 311px;
		font-size: 14px;
		padding: 11px 0 12px 20px;
	}
	.help__input-text {
		font-size: 14px;
		height: 150px;
		max-width: 311px;
		padding-left: 20px;
	}
	#help__submit-btn {
		margin-top: 15px;
		max-width: 130px;
		font-size: 14px;
		padding: 6px 26px 4px 26px;
	}
}

/* size */
.size__wrapper-bg {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.size__content {
	max-width: 1114px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 24px auto 10px auto;
}
.size__content-block {
	max-width: 1107px;
	min-width: 300px;
	min-height: 312px;
	background: rgb(217, 217, 217);
	margin: 25px 0 25px 0;
}
.size__content-block-small {
	max-width: 711px;
	min-width: 300px;
	height: 716px;
	background: rgb(217, 217, 217);
	margin: 25px 0 0 0;
}

.size__content h3 {
	margin-top: 55px;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 700;
}
.size__content p {
	margin-top: 25px;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
@media screen and (max-width: 1244px) {
	.size__content {
		margin-top: 3px;
		max-width: 740px;
		margin-bottom: 38px;
	}
}
@media screen and (max-width: 800px) {
	.size__content {
		margin-top: 3px;
		max-width: 500px;
		margin-bottom: 38px;
	}
	.size__content h3 {
		font-size: 16px;
		margin-top: 28px;
	}
	.size__content p {
		font-size: 14px;
		margin-top: 20px;
	}
	.size__content-block {
		width: 315px;
		min-height: 122px;
	}
	.size__content-block-small {
		min-width: 401px;
		width: 401px;
		height: 163px;
	}
}

@media screen and (max-width: 535px) {
	.size__content {
		margin-top: 3px;
		max-width: 315px;
		margin-bottom: 38px;
	}
	.size__content h3 {
		font-size: 16px;
		margin-top: 28px;
	}
	.size__content p {
		font-size: 14px;
		margin-top: 20px;
	}
	.size__content-block {
		width: 315px;
		min-height: 122px;
	}
	.size__content-block-small {
		min-width: 201px;
		width: 201px;
		height: 163px;
	}
}
/* original */
.original__wrapper-bg {
	position: relative;
	width: 100%;
}
.original__container-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1114px;
	margin: 80px auto 133px auto;
}
.original__container-text p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
.original__container-text-bold {
	font-weight: 700;
}
.original__content-block {
	max-width: 1096px;
	height: 312px;
	background: rgb(217, 217, 217);
	margin: 40px 0 53px 0;
}
@media screen and (max-width: 1440px) {
	.original__container-text {
		max-width: 1000px;
		margin-top: 25px;
		margin-bottom: 53px;
	}
}
@media screen and (max-width: 1100px) {
	.original__container-text {
		max-width: 500px;
		margin-top: 25px;
		margin-bottom: 53px;
	}
	.original__container-text p {
		font-size: 14px;
	}
	.original__content-block {
		margin: 27px 0 0 0;
	}
}
@media screen and (max-width: 837px) {
	.original__container-text {
		max-width: 500px;
		margin-top: 25px;
		margin-bottom: 53px;
	}
	.original__container-text p {
		font-size: 14px;
	}
	.original__content-block {
		margin: 27px 0 0 0;
	}
}
@media screen and (max-width: 649px) {
	.original__container-text {
		max-width: 314px;
		margin-top: 25px;
		margin-bottom: 53px;
	}
	.original__container-text p {
		font-size: 14px;
	}
	.original__content-block {
		margin: 27px 0 0 0;
	}
}

@media screen and (max-width: 500px) {
	.original__container-text {
		max-width: 314px;
		margin-top: 25px;
		margin-bottom: 53px;
	}
	.original__container-text p {
		font-size: 14px;
	}
	.original__content-block {
		margin: 27px 0 0 0;
	}
}
/* delivery */
.delivery__wrapper-bg {
	position: relative;
	width: 100%;
}
.delivery__container-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 1133px;
	margin: 28px auto 52px auto;
}
.delivery__container-text h3 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 700;
	margin: 52px 0 25px 0;
}
.delivery__container-text p,
li {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
.delivery__container-text h2 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 40px;
	font-weight: 700;
	margin: 56px 0 10px 0;
}
.delivery__FAQ-underline {
	background: rgb(21, 21, 21);
	width: 120px;
	height: 5px;
	margin-bottom: 9px;
}
@media screen and (max-width: 1440px) {
	.delivery__container-text {
		max-width: 1000px;
		margin: 23px auto 56px auto;
	}
	.delivery__container-text h3 {
		font-size: 24px;
		margin: 19px 0 19px 0;
	}
	.delivery__container-text p,
	li {
		font-size: 18px;
	}
	.delivery__container-text h2 {
		font-size: 28px;
		margin: 23px 0 6px 0;
	}
	.delivery__FAQ-underline {
		width: 55px;
		height: 3px;
		margin-bottom: 4px;
	}
}
@media screen and (max-width: 1044px) {
	.delivery__container-text {
		max-width: 700px;
		margin: 23px auto 56px auto;
	}
	.delivery__container-text h3 {
		font-size: 24px;
		margin: 19px 0 19px 0;
	}
	.delivery__container-text p,
	li {
		font-size: 18px;
	}
	.delivery__container-text h2 {
		font-size: 28px;
		margin: 23px 0 6px 0;
	}
	.delivery__FAQ-underline {
		width: 55px;
		height: 3px;
		margin-bottom: 4px;
	}
}
@media screen and (max-width: 768px) {
	.delivery__container-text {
		max-width: 450px;
		margin: 23px auto 56px auto;
	}
	.delivery__container-text h3 {
		font-size: 16px;
		margin: 19px 0 19px 0;
	}
	.delivery__container-text p,
	li {
		font-size: 14px;
	}
	.delivery__container-text h2 {
		font-size: 20px;
		margin: 23px 0 6px 0;
	}
	.delivery__FAQ-underline {
		width: 55px;
		height: 3px;
		margin-bottom: 4px;
	}
}
@media screen and (max-width: 620px) {
	.delivery__container-text {
		max-width: 314px;
		margin: 23px auto 56px auto;
	}
	.delivery__container-text h3 {
		font-size: 16px;
		margin: 19px 0 19px 0;
	}
	.delivery__container-text p,
	li {
		font-size: 14px;
	}
	.delivery__container-text h2 {
		font-size: 20px;
		margin: 23px 0 6px 0;
	}
	.delivery__FAQ-underline {
		width: 55px;
		height: 3px;
		margin-bottom: 4px;
	}
}
/* shop */
.shop__content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 244px auto 0 auto;
	max-width: 1133px;
}
.shop__content-wrapper h2 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 700;
	margin: 20px 0 25px 0;
}
.shop__content-wrapper p,
li {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
@media screen and (max-width: 1440px) {
	.shop__content-wrapper {
		margin: 20px auto 10px auto;
		max-width: 1000px;
	}
}
@media screen and (max-width: 1024px) {
	.shop__content-wrapper {
		margin: 20px auto 10px auto;
		max-width: 700px;
	}
}
@media screen and (max-width: 768px) {
	.shop__content-wrapper {
		margin: 20px auto 10px auto;
		max-width: 500px;
	}
	.shop__content-wrapper h2 {
		font-size: 24px;
		margin: 20px 0 25px 0;
	}
	.shop__content-wrapper p,
	li {
		font-size: 12px;
	}
}
@media screen and (max-width: 500px) {
	.shop__content-wrapper {
		margin: 20px auto 10px auto;
		max-width: 300px;
	}
	.shop__content-wrapper h2 {
		font-size: 24px;
		margin: 20px 0 25px 0;
	}
	.shop__content-wrapper p,
	li {
		font-size: 12px;
	}
}

/* contacts */
.contacts__content {
	max-width: 1133px;
	margin: 81px auto 0 auto;
}
.contacts__content h3 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 7px;
}
.contacts__content p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
	padding: 28.5px 0;
}
.contacts__content a {
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
	color: rgb(1, 131, 204);
	text-decoration: underline;
}
.contacts__underline {
	background: rgb(21, 21, 21);
	width: 203px;
	height: 4px;
	margin-bottom: 19.5px;
}
.contacts__data {
	display: flex;
	gap: 42px;
	align-items: center;
}
.contacts__data-icon {
	max-width: 30px;
}
@media screen and (max-width: 1440px) {
	.contacts__content {
		max-width: 960px;
		margin: 31px auto 36px auto;
	}
	.contacts__content h3 {
		font-size: 24px;
		margin-bottom: 6px;
	}
	.contacts__underline {
		width: 118px;
		height: 3px;
		margin-bottom: 19.5px;
	}
}
@media screen and (max-width: 1044px) {
	.contacts__content {
		max-width: 512px;
		margin: 31px auto 36px auto;
	}
	.contacts__content h3 {
		font-size: 24px;
		margin-bottom: 6px;
	}
	.contacts__content p {
		font-size: 18px;
		padding: 11.5px 0;
	}
	.contacts__content a {
		font-size: 18px;
	}
	.contacts__underline {
		width: 118px;
		height: 3px;
		margin-bottom: 19.5px;
	}
	.contacts__data {
		gap: 24px;
	}
	.contacts__data-icon {
		max-width: 20px;
	}
}

@media screen and (max-width: 768px) {
	.contacts__content {
		max-width: 313px;
		margin: 31px auto 36px auto;
	}
	.contacts__content h3 {
		font-size: 20px;
		margin-bottom: 6px;
	}
	.contacts__content p {
		font-size: 14px;
		padding: 11.5px 0;
	}
	.contacts__content a {
		font-size: 14px;
	}
	.contacts__underline {
		width: 118px;
		height: 3px;
		margin-bottom: 19.5px;
	}
	.contacts__data {
		gap: 20px;
	}
	.contacts__data-icon {
		max-width: 20px;
	}
}

/* product */
.product__wrapper {
	max-width: 1687px;
	margin: 41px auto 0 auto;
	display: flex;
	justify-content: center;
}
.product__wrapper-photos {
	margin-right: 155px;
}
.product__photo-row img {
	width: 171.45px;
	flex-wrap: wrap;
	cursor: pointer;
}
.product__photo-row {
	gap: 32px;
}
.product__nav {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 500;
}
.product__wrapper-description h1 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 40px;
	font-weight: 700;
	margin: 25px 0 28px 0;
}
.product__description p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
.product__description-dots {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
.product__description-more-btn {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 500;
	text-decoration-line: underline;
	background: transparent;
	border: none;
	margin: 25px 0 33px 0;
}
.product__wrapper-description h3 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 700;
}
.product__size-choice {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	margin: 28px 0 25px 0;
}
.size-btn {
	box-sizing: border-box;
	border: 1px solid rgb(177, 177, 177);
	border-radius: 7px;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
	width: 85px;
	padding: 0;
	height: 50px;
	cursor: pointer;
}
.size-btn.selected {
	background-color: black;
	color: white;
	transition: ease-in 0.3s;
}
.product__link-table {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 500;
	text-decoration-line: underline;
}
.product__delivery-choice {
	margin: 31px 0;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.product__delivery-choice h3 {
	margin-bottom: 25px;
}

.product__delivery-option {
	font-family: Golos;
	font-size: 24px;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	border: 1px solid rgb(177, 177, 177);
	border-radius: 7px;
	padding: 18px 22px;
	cursor: pointer;
}
.selected {
	background-color: rgb(21, 21, 21);
	border: 1px solid rgb(21, 21, 21);
	color: rgb(255, 255, 255);
	transition: ease-in 0.3s;
}
.product__delivery-info p {
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
}
.product__delivery-info {
	max-width: 670px;
}
.product__original-price {
	font-family: Golos;
	font-size: 15px;
	font-weight: 400;
	text-decoration-line: line-through;
}

.product__delivery-additional-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	margin-left: 17px;
}

.product__delivery-additional-info-text {
	display: flex;
	align-items: flex-start;
	gap: 15px;
}

.product__delivery-additional-info-text img {
	max-width: 40px;
}

.product__delivery-additional-info-text h3 {
	font-family: Golos;
	font-size: 20px;
	font-weight: 500;
}

.product__delivery-additional-info-text p {
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
}

.product__help {
	margin: 53px 0 73px 0;
}
.product__help h3 {
	margin-bottom: 17px;
}
.product__help p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
}
.product__help a {
	margin-right: 15px;
}
.product__help img {
	max-width: 30px;
}
.product__help button {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 500;
	box-sizing: border-box;
	border: 2px solid rgb(21, 21, 21);
	border-radius: 7px;
	padding: 22px 39px 24px 39px;
	margin-top: 25px;
	align-items: center;
	background: transparent;
}
.product__recommendation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1780px;
	margin: 0 auto;
}
.product__recommendation h2 {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 60px;
}
.product__recommendation-container {
	display: flex;
	flex-wrap: wrap;
}
.product__recommendation-card {
	position: relative;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	width: 355px;
	max-height: 283px;
	padding: 15px 30px 30px 30px;
	border-radius: 10px;
	row-gap: 26px;
}
.product__recommendation-card p {
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 20px;
	font-weight: 500;
}
.product__recommendation-card h3 {
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
}
.product__recommendation-card:hover {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.product__recommendation-card-img {
	width: 294.63px;
}
.product__recommendation-card-like {
	position: absolute;
	top: 10px;
	left: 10px;
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
.product__recommendation-card-like img {
	width: 24px;
	height: 24px;
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.3));
}

.product__recommendation-more {
	display: flex;
	margin: 30px  auto 0 auto;
	box-sizing: border-box;
	border: 2px solid rgb(21, 21, 21);
	border-radius: 7px;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 24px;
	font-weight: 500;
	padding: 22px 62px 24px 62px;
}
