@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: 'Golos Text';
	src: url(./fonts/GolosText-Bold.ttf);
	font-weight: 700;
}
.content__wrapper {
	margin: 0 120px;
}
* {
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
a:hover {
	opacity: 0.7;
}

ul {
	margin-left: 0;
	padding-left: 0;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Golos Text', 'Courier New', Courier, monospace;
	max-width: 1920px;
	scroll-behavior: smooth;
}
#button_up {
	position: fixed;
	right: 120px;
	bottom: 69px;
	z-index: 5;
}

.header {
	padding: 32px 120px 36px 120px;
	border-bottom: 1px solid #eaeaea;
	display: flex;
	font-size: 24px;
}

.wrapper {
	max-width: 1400px;
}
.burger-checkbox {
	position: absolute;
	visibility: hidden;
}

.burger {
	position: relative;
	z-index: 1;
	cursor: pointer;
	display: block;
	border: none;
	background: transparent;
	width: 40px;
	height: 26px;
}

.burger::before,
.burger::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 10px;
	background: #000;
}

.burger::before {
	top: 0;
}

.burger::after {
	bottom: 0;
	transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
	top: 11px;
	transform: rotate(45deg);
	transition: transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
	bottom: 11px;
	transform: rotate(-45deg);
	transition: bottom 0.3s, transform 0.3s 0.15s;
}

.menu {
	position: fixed;
	top: 117px;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	transform: translateX(-100%);
	transition: transform 0.3s;
	overflow-y: auto;
	padding: 99px 0 0 145px;
}

.burger-checkbox:checked ~ .menu {
	transform: translateX(0);
}

.menu-column {
	flex: 0 0 auto;
	padding: 20px;
	margin-right: 145px;
}

.menu-column h3 {
	margin-bottom: 35px;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 27px;
	font-weight: 600;
	pointer-events: none;
}

.menu-list {
	list-style-type: none;
	padding: 0;
}
.menu-list li {
	padding-bottom: 10px;
}
.menu-list a {
	margin-left: 77px;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 22px;
	font-weight: 500;
}

details summary {
	cursor: pointer;
	list-style: none;
	position: relative;
	padding-left: 40px;
	display: flex;
	align-items: center;
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 22px;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	background-image: url('./img/arrow_accord.svg');
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform 0.3s ease;
}

details[open] summary::before {
	transform: translateY(-50%) rotate(180deg);
}
details li {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
}
.header__wrapper {
	max-width: 1920px;
	display: flex;
	align-items: center;
}

.header__lc,
.header__rc {
	display: flex;
	gap: 30px;
	align-items: center;
}

.header__a {
	color: black;
	text-decoration: none;
}
.header__logo {
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 40px;
	font-weight: 600;
	pointer-events: none;
	margin: 0 478px 0 713px;
}
.header__searchbox {
	width: 30px;
	height: 30px;
	background: transparent;
	border: 0;
	cursor: pointer;
}
.header__searchbox:hover {
	opacity: 0.7;
}

.header__fav {
	width: 30px;
	height: 30px;
}
.header__fav:hover {
	opacity: 0.7;
}
.header__auth {
	display: flex;
	font-size: 16px;
	gap: 15px;
	padding: 10px 34px 10px 24px;
	border: 2px solid black;
	border-radius: 7px;
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 16px;
	font-weight: 500;
}
.header__auth:hover {
	opacity: 0.7;
}

.main__big-image {
	position: relative;
}

.main__big-image img {
	width: 70vw;
	position: absolute;
	top: -100px;
	right: +5%;
	z-index: -10;
	max-width: 1000px;
}

.first {
	max-width: 1920px;
	margin: 50px 0 0 0;
	display: flex;
	align-items: center;
	overflow: hidden;
	display: flex;
}

.main__text-container {
	max-width: 800px;
}

.main__banner {
	width: 100%;
	min-height: 505px;
	max-width: 1920px;
}

.main__h1 {
	font-size: 59px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -0.5px;
}

.main__desc {
	font-size: 39px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -0.5px;
	margin: 25px 0;
}
.main__note {
	color: rgb(90, 90, 90);
	font-family: Golos;
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 47px;
}

.main__button {
	display: flex;
	padding: 22px 37px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: fit-content;
	border-radius: 7px;
	font-size: 25px;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: -0.5px;
	border: none;
	background: linear-gradient(45deg, rgba(191, 108, 34, 1) 0%, rgba(182, 30, 46, 1) 85%);
	color: white;
	text-decoration: none;
	margin-top: 30px;
}
.main__button:hover {
	background: linear-gradient(46.66deg, rgb(182, 30, 46) 25.832%, rgb(191, 108, 34) 105.711%);
}
.main__wrapper {
	width: 1747px;
	margin: 0;
}
.main__wrapper-header {
	font-family: 'Golos Text', 'Courier New', Courier, monospace;
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 25px;
	max-width: 500px;
}
.main__wrapper-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}
.main__wrapper-sneaker {
	width: 332px;
	height: 283px;
}
.sneaker__content {
	padding: 15.78px 0 0 0;
	text-decoration: none;
	color: black;
}
.main__wrapper-img {
	max-width: 294.63px;
	height: 177.02px;
}
.main__wrapper-p {
	font-family: 'Golos Text', 'Courier New', Courier, monospace;
	font-weight: 400;
	font-size: 14px;
	color: rgb(144, 144, 144);
}
.main__wrapper-name {
	font-weight: 500;
	font-size: 20px;
	margin: 0;
}
.footer__bg {
	height: 100%;
	background-color: rgb(21, 21, 21);
}
.footer__wrapper {
	margin-top: 80px;
	display: flex;
}

.footer__about-nav {
	color: white;
	display: flex;
	padding: 80px 0 0 262px;
	justify-content: space-between;
	gap: 150px;
}
.footer__about-h {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 26px;
	font-weight: 600;
	margin: 0 0 26px 0;
	pointer-events: none;
}
.footer__about-link {
	text-decoration: none;
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	padding-top: 15px;
}
.footer__about-link:hover {
	opacity: 0.7;
}
.column {
	display: flex;
	flex-direction: column;
}
.footer__about-info {
	width: 320px;
	margin: 70px 0 0 223px;
	text-align: right;
}

.footer__logo {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 55px;
	font-weight: 600;
	pointer-events: none;
}

.footer__about-button {
	box-sizing: border-box;
	border: 2px solid rgb(227, 227, 227);
	border-radius: 7px;
	background-color: rgb(21, 21, 21);
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 20px;
	font-weight: 500;
	padding: 13px 29px 16px 26px;
	width: 227px;
	height: 57px;
	display: flex;
	align-items: center;
	margin-left: auto;
	text-decoration: none;
}
.footer__about-button:hover {
	opacity: 0.7;
}
.footer__about-p {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 18px;
	font-weight: 500;
	margin: 48px 0 21px 0;
}
.footer__about-robot {
	padding-right: 16px;
}

.footer__line {
	border: 1px solid rgb(90, 90, 90);
	margin: 76.5px 0 0 0;
}
.footer__social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40.5px 262px 40px 262px;
}
.footer__social-p {
	color: rgb(227, 227, 227);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	margin: 0;
	pointer-events: none;
}
.footer__social-link:hover {
	opacity: 0.7;
}
.footer__social-links {
	display: flex;
	gap: 29px;
}
.searchbox-bigbg {
	position: fixed;
	width: 1920px;
	height: 100%;
	background: rgba(71, 71, 71, 0.5);
}
.searchbox-big {
	width: 1569px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 0 auto;
	padding-top: 67px;
}
.searchbox-form {
	display: flex;
	align-items: center;
	margin-bottom: 39px;
}
#search__input {
	width: 1377px;
	height: 53px;
	box-sizing: border-box;
	border: 1px solid rgb(21, 21, 21);
	border-radius: 10px;
	color: rgb(178, 178, 178);
	font-family: Golos;
	font-size: 22px;
	font-weight: 400;
	margin: 0 13px 0 67px;
	padding-left: 67px;
}

#search__submit {
	border-radius: 10px;
	background: rgb(21, 21, 21);
	width: 176px;
	height: 53px;
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 22px;
	font-weight: 600;
	margin: 0 96px 0 0;
	cursor: pointer;
}
.search-icon {
	position: absolute;
	margin-left: 91px;
	margin: 16px 0 18px 91px;
}
.searchbox__wrapper {
	display: flex;
}
.searchbox__popular-names {
	max-width: 250px;
	margin-left: 96px;
}
.searchbox-p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 27px;
	font-weight: 600;
	margin-bottom: 23px;
}
.searchbox-list {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 22px;
	font-weight: 400;
	align-items: center;
	margin-bottom: 9px;
}
.searchbox-list-a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}
.searchbox-list-a:hover {
	opacity: 0.7;
}
.searchbox-magnifier {
	margin-right: 17px;
}

.searchbox__popular-items {
	margin: 10px 0 0 169px;
}
.searchbox__popular-cards {
	display: flex;
	margin-bottom: 67px;
}
.searchbox__popular-img {
	width: 222px;
	height: 134px;
}
.searchbox__popular-img:hover {
	opacity: 0.9;
}

.searchbox__popular-p {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 18px;
	font-weight: 400;
	margin: 19px 0 5px 0;
}
.searchbox__popular-name {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 18px;
	font-weight: 500;
}
.searchbox__popular-sneaker {
	width: 241px;
	height: 219px;
}
.searchbox__popular-content {
	text-decoration: none;
}

#searchbox__close-button {
	position: absolute;
	background: transparent;
	border: 0;
	cursor: pointer;
	right: 127.8px;
	top: 24px;
}

.auth__wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	background: rgba(71, 71, 71, 0.5);
}
.auth__bg {
	width: 535px;
	height: 375px;
	border-radius: 10px;
	backdrop-filter: blur(4px);
	background: rgb(255, 255, 255);
	margin: 332px auto 0 auto;
}

.auth__head {
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 27px;
	font-weight: 600;
}
.auth__desc {
	color: rgb(85, 85, 85);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	margin: 30px 0 15px 0;
}
.auth__form {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-top: 62px;
}

#phoneNum {
	box-sizing: border-box;
	border: 1px solid rgb(85, 85, 85);
	border-radius: 10px;
	width: 400px;
	height: 57px;
	color: rgb(178, 178, 178);
	font-family: Golos;
	font-size: 22px;
	font-weight: 400;
	padding-left: 26.5px;
}
#phoneSubmit {
	width: 400px;
	height: 57px;
	border-radius: 10px;
	background: rgb(21, 21, 21);
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 22px;
	font-weight: 600;
	margin-top: 15px;
	text-indent: -70px;
	cursor: pointer;
}
.arrow_forward {
	position: absolute;
	width: 8.96px;
	height: 14.9px;
	bottom: 103.41px;
	right: 190.6px;
}
#auth__close-button {
	position: absolute;
	background: transparent;
	border: 0;
	width: 20.2px;
	height: 20px;
	right: 657px;
	top: 340px;
	cursor: pointer;
}

.cookie__wrapper {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 150vh;
}
.cookie__modal-wrapper {
	width: 574px;
	height: 241px;
	box-sizing: border-box;
	border: 1px solid rgb(21, 21, 21);
	border-radius: 7px;
	background: rgb(255, 255, 255);
	z-index: 2;
}
.cookie__text {
	color: rgb(21, 21, 21);
	font-family: Golos;
	font-size: 20px;
	font-weight: 400;
	width: 484px;
	height: 96px;
	padding: 35px 0 0 45px;
}
.cookie__button {
	display: flex;
	border-radius: 7px;
	background: rgb(21, 21, 21);
	height: 45px;
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 41px 11px 44px;
	border: none;
	margin: 28px auto 0 auto;
	cursor: pointer;
}
/* * {
	outline: 1px solid aqua;
} */
@media screen and (max-width: 1844px) and (min-width: 1693px) {
	body {
		max-width: 1844px;
	}
	.header__logo {
		margin: 0 440px 0 513px;
	}
	.main__h1 {
		font-size: 53px;
	}
	.main__desc {
		font-size: 35px;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1601px;
	}
	.main__wrapper {
		max-width: 1601px;
	}
}
@media screen and (max-width: 1692px) and (min-width: 1602px) {
	body {
		max-width: 1481px;
	}
	.header__logo {
		margin: 0 278px 0 513px;
	}
	.main__h1 {
		max-width: 600px;
		font-size: 50px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image {
		width: 300px;
		height: 300px;
		position: absolute;
		right: 214px;
		box-sizing: border-box;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1323px;
	}
	.main__wrapper {
		max-width: 1323px;
	}
	.footer__about-info {
		margin: 70px 0 0 60px;
	}
	.footer__about-nav {
		padding: 80px 0 0 152px;
	}
	#button_up {
		right: 5%;
	}
}
@media screen and (max-width: 1601px) and (min-width: 1481px) {
	body {
		max-width: 1481px;
	}
	.header__logo {
		margin: 0 278px 0 513px;
	}
	.main__h1 {
		max-width: 600px;
		font-size: 50px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image {
		width: 300px;
		height: 300px;
		position: absolute;
		right: 80px;
		box-sizing: border-box;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1323px;
	}
	.main__wrapper {
		max-width: 1323px;
	}
	.footer__about-info {
		margin: 70px 0 0 60px;
	}
	.footer__about-nav {
		padding: 80px 0 0 152px;
	}
	#button_up {
		right: 5%;
	}
	.main__desc {
		margin: 20px 0;
	}
	.main__note {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 1480px) and (min-width: 1440px) {
	body {
		max-width: 1440px;
	}
	.header__logo {
		margin: 0 278px 0 513px;
	}
	.main__h1 {
		max-width: 600px;
		font-size: 50px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image {
		width: 50%;
		height: 30%;
		position: absolute;
		left: 700px;
		box-sizing: border-box;
	}
	.main__wrapper-sneaker {
		width: 25%;
	}
	.main__wrapper-row {
		max-width: 1323px;
	}
	.main__wrapper {
		max-width: 1323px;
	}
	.footer__about-info {
		margin: 70px 0 0 60px;
	}
	.footer__about-nav {
		padding: 80px 0 0 152px;
	}
	#button_up {
		right: 5%;
	}
	.main__desc {
		margin: 20px 0;
	}
	.main__note {
		margin-bottom: 40px;
	}
}
@media screen and (max-width: 1439px) and (min-width: 1101px) {
	body {
		max-width: 1439px;
	}
	.header__logo {
		margin: 0 29% 0 68%;
	}
	.main__text-container {
		max-width: 400px;
	}
	.main__h1 {
		font-size: 36px;
		margin-top: 25px;
	}
	.main__desc {
		font-size: 18px;
		margin: 10px 0;
	}
	.main__note {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.main__button {
		padding: 10px 22px;
	}
	.main__big-image img {
		position: absolute;
		max-width: 600px;
		top: -35px;
		left: 30%;
	}
	.main__banner {
		min-height: 420px;
	}
	.main__wrapper {
		max-width: 982px;
		margin: 0;
	}
	.main__wrapper-sneaker {
		width: 25%;
		height: 220px;
	}
	.main__wrapper-row {
		max-width: 1024px;
	}
	.main__wrapper-img {
		width: 220px;
		height: auto;
	}
	.footer__about-nav {
		padding-left: 30px;
		gap: 20px;
	}
	.footer__about-info {
		margin-left: 130px;
	}
	.footer__social {
		padding: 40px 100px 40px 100px;
	}
	#button_up img {
		width: 40px;
		height: 40px;
	}
	#button_up {
		right: 2%;
	}
	.menu-column {
		margin-right: 40px;
		padding: 10px;
	}
}

@media screen and (max-width: 1110px) and (min-width: 1024px) {
	body {
		max-width: 1110px;
	}
	.header {
		padding: 2%;
	}
	.content__wrapper {
		margin: 0 60px;
	}
	.main__text-container {
		max-width: 400px;
	}
	.header__logo {
		margin: 0 29% 0 72%;
	}
	.main__h1 {
		font-size: 36px;
		margin-top: 25px;
	}
	.main__desc {
		font-size: 18px;
		margin: 10px 0;
	}
	.main__note {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.first {
		display: flex;
	}
	.main__banner {
		min-height: 0;
		height: 450px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image img {
		position: absolute;
		max-width: 600px;
		top: -35px;
		left: 30%;
	}
	.main__wrapper {
		max-width: 930px;
		margin: 0;
	}
	.main__wrapper-img {
		width: 220px;
		height: auto;
	}
	.main__wrapper-sneaker {
		width: 25%;
		height: 220px;
	}
	.main__wrapper-row {
		max-width: 1024px;
	}
	.sneaker__content {
		padding-left: 0;
	}
	.footer__about-nav {
		padding-left: 30px;
		gap: 20px;
	}
	.footer__about-info {
		margin-left: 40px;
	}
	.footer__social {
		padding: 40px 100px 40px 100px;
	}
	#button_up img {
		width: 40px;
		height: 40px;
	}
	#button_up {
		right: 2%;
	}
	.menu {
		padding-left: 70px;
	}
	.menu-column {
		margin-right: 20px;
		padding: 10px;
	}
}

@media screen and (max-width: 1023px) and (min-width: 846px) {
	body {
		max-width: 1023px;
	}
	.header {
		padding: 2%;
		padding-left: 60px;
		max-width: 1023px;
	}
	.header__auth {
		gap: 0;
		margin-right: -2px;
	}
	.content__wrapper {
		margin: 0 60px;
	}
	.main__text-container {
		max-width: 400px;
	}
	.header__logo {
		margin: 0 15% 0 60%;
	}
	.main__h1 {
		font-size: 36px;
		margin-top: 25px;
	}
	.main__desc {
		font-size: 18px;
		margin: 10px 0;
	}
	.main__note {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.first {
		display: flex;
	}
	.main__banner {
		min-height: 0;
		height: 450px;
	}
	.main__desc {
		font-size: 25px;
	}
	.main__button {
		padding: 12px 27px;
	}
	.main__big-image img {
		position: absolute;
		max-width: 500px;
		top: -35px;
		left: 40%;
	}
	.main__wrapper {
		max-width: 900px;
		margin: 0;
		width: auto;
	}
	.main__wrapper-img {
		width: 220px;
		height: auto;
	}
	.main__wrapper-sneaker {
		width: 33%;
		height: 220px;
	}
	.main__wrapper-row {
		max-width: 1024px;
	}
	.sneaker__content {
		padding-left: 0;
	}
	.footer__about-nav {
		padding-left: 30px;
		gap: 20px;
	}
	.footer__about-info {
		margin-left: 30px;
		padding-right: 10px;
	}
	.footer__bg {
		width: 100%;
	}
	.footer__wrapper {
		width: 100%;
	}
	.footer__social {
		padding: 40px 100px 40px 100px;
	}
	#button_up img {
		width: 40px;
		height: 40px;
	}
	#button_up {
		right: 8%;
	}
	.menu {
		padding-left: 70px;
	}
	.menu-column {
		margin-right: 20px;
		padding: 10px;
	}
}

/* мобильная версия */
.footer__bg-mobile {
	display: none;
	height: 100%;
	background-color: rgb(21, 21, 21);
}
.mobile__wrapper {
	display: none;
}
.toggle-switch {
	display: flex;
	justify-content: center;
	border-radius: 7px;
	overflow: hidden;
	margin: 0 16px;
}

.option {
	padding: 7px 46px 8px 50px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.option:not(.active) {
	background: rgb(233, 233, 233);
	color: rgb(21, 21, 21);
}

.option.active {
	background: rgb(21, 21, 21);
	color: #fff;
}

.option:first-child {
	border-radius: 7px 0 0 7px;
	font-family: Golos;
	font-size: 14px;
	font-weight: 600;
}

.option:last-child {
	border-radius: 0 7px 7px 0;
	font-family: Golos;
	font-size: 14px;
	font-weight: 600;
}
.mobile__content {
	margin: 31px 16px 15px 16px;
}
.mobile__content-header {
	display: flex;
	justify-content: space-between;
}
.mobile__watch-all {
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: rgb(233, 233, 233);
	color: rgb(0, 0, 0);
	font-family: Golos;
	font-size: 12px;
	font-weight: 600;
	padding: 4px 22px;
	text-decoration: none;
}

.mobile__watch-all img {
	margin-left: 8px;
	width: 10px;
	height: 10px;
}
.grid-container {
	display: flex;
	margin: 0 15px;
}
.grid-item {
	border-radius: 10px;
	background: rgba(21, 21, 21, 0.25);
	/* на background: url() можно заменить */
	padding: 80px 0 0 14px;
}
.grid-item a {
	color: rgb(255, 255, 255);
	font-family: Golos;
	font-size: 14px;
	font-weight: 500;
}
.large {
	width: 189px;
	height: 115px;
	margin-right: 8px;
}
.small {
	width: 164px;
	height: 115px;
}
.small-1 {
	width: 164px;
	height: 115px;
	margin: 10px 8px 10px 0;
}
.large-1 {
	width: 189px;
	height: 115px;
	margin: 10px 0 10px 8px;
}
.mobile__go-catalog {
	margin: 30px auto;
	display: block;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 1px solid rgb(21, 21, 21);
	border-radius: 7px;
	background: transparent;
}
.mobile__go-catalog img {
	margin-left: 8px;
	width: 10px;
	height: 10px;
}
@media screen and (max-width: 846px) and (min-width: 425px) {
	.mobile__content {
		margin: 31px auto 15px auto;
	}
	.mobile__content-header {
		justify-content: center;
		gap: 30%;
	}
	.footer__bg-mobile {
		display: block;
		padding-top: 38px;
	}
	.mobile__wrapper {
		display: block;
	}
	.content__wrapper {
		display: none;
	}
	.footer__bg {
		display: none;
	}
	.header {
		padding: 20px 17px 21px 16px;
	}
	.header__wrapper {
		width: 100%;
	}
	.header__logo {
		margin: 0 auto 0 auto;
	}
	.header__logo {
		font-size: 20px;
	}
	.header__searchbox {
		padding: 0;
		position: absolute;
		left: 59px;
		width: 18px;
		height: 18px;
	}
	.header__searchbox img {
		width: 18px;
		height: 18px;
	}
	.header__fav {
		width: 24px;
		height: 23px;
	}
	.header__fav img {
		width: 24px;
		height: 23px;
	}
	.header__auth {
		width: 16px;
		height: 18px;
		padding: 0;
		border: 0;
	}
	.header__auth p {
		display: none;
	}
	.burger {
		height: 6px;
		width: 18px;
	}
	.burger::before {
		width: 18px;
		height: 2.4px;
	}
	.burger::after {
		width: 18px;
		height: 1.8px;
	}
	.burger-checkbox:checked + .burger::before {
		top: 0px;
	}

	.burger-checkbox:checked + .burger::after {
		bottom: 4px;
	}
	.burger-menu {
		position: absolute;
		left: 16px;
	}
	.header__rc {
		gap: 24px;
	}
	.menu {
		top: 66px;
		padding: 0px;
		flex-direction: column;
	}
	.menu-list a {
		font-size: 12px;
	}
	.menu-list li {
		padding-bottom: 2px;
	}
	.menu-column {
		margin-right: 0px;
		max-height: 200px;
		margin-bottom: 15px;
		padding: 5px 20px 0 20px;
	}
	.menu-column h3 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	details summary {
		font-size: 12px;
		margin-bottom: 5px;
	}
	details summary::before {
		height: 15px;
		width: 15px;
	}
	#button_up {
		display: none;
	}
	.main__h1 {
		color: rgb(21, 21, 21);
		font-family: Golos;
		font-size: 24px;
		font-weight: 700;
		max-width: 344px;
	}
	.footer__wrapper {
		display: block;
	}
	.main__desc {
		color: rgb(39, 39, 39);
		font-family: Golos;
		font-size: 14px;
		font-weight: 500;
		max-width: 300px;
		margin: 12px 0 11.5px 0;
	}
	.main__note {
		color: rgb(90, 90, 90);
		font-family: Golos;
		font-size: 12px;
		font-weight: 400;
		max-width: 300px;
		margin-bottom: 31.5px;
	}
	.grid-container {
		display: flex;
		justify-content: center;
	}
	.mobile__first {
		max-width: 340px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 32px auto 0 auto;
	}
	.footer__bg {
		padding-top: 38px;
	}
	.footer__about-nav {
		padding: 0;
		gap: 0;
		flex-wrap: wrap;
		max-width: 270px;
		margin: 0 auto;
	}
	.footer__about-info {
		margin: 0 auto;
		max-height: 150px;
		text-align: left;
	}
	.footer__about-h {
		font-size: 18px;
		margin-bottom: 3px;
	}
	.footer-margin {
		margin-top: 27px;
	}
	.footer__about-link {
		font-size: 14px;
		padding-top: 12px;
		max-width: 130px;
	}

	.footer__wrapper {
		margin-top: 0;
	}
	.footer__logo {
		font-size: 40px;
		margin: 38px 0 0 44px;
	}
	.footer__about-button {
		padding: 8px 26px 11px 26px;
		font-size: 18px;
		margin: 20px 0 33px 48px;
	}
	.footer__social {
		padding: 22.5px 46px 26px 47px;
	}
	.footer__social-p {
		font-size: 12px;
		max-width: 150px;
	}
	.footer__social-link {
		width: 24.94px;
		height: 25px;
	}
	.footer__social-link img {
		width: 24.94px;
		height: 25px;
	}
}
@media screen and (max-width: 424px) and (min-width: 393px) {
	.footer__bg-mobile {
		display: block;
		padding-top: 38px;
	}
	.mobile__wrapper {
		display: block;
	}
	.content__wrapper {
		display: none;
	}
	.footer__bg {
		display: none;
	}
	.header {
		padding: 20px 17px 21px 16px;
	}
	.header__wrapper {
		width: 100%;
	}
	.header__logo {
		margin: 0 66px 0 133px;
	}
	.header__logo {
		font-size: 20px;
	}
	.header__searchbox {
		padding: 0;
		position: absolute;
		left: 59px;
		width: 18px;
		height: 18px;
	}
	.header__searchbox img {
		width: 18px;
		height: 18px;
	}
	.header__fav {
		width: 24px;
		height: 23px;
	}
	.header__fav img {
		width: 24px;
		height: 23px;
	}
	.header__auth {
		width: 16px;
		height: 18px;
		padding: 0;
		border: 0;
	}
	.header__auth p {
		display: none;
	}
	.burger {
		height: 6px;
		width: 18px;
	}
	.burger::before {
		width: 18px;
		height: 2.4px;
	}
	.burger::after {
		width: 18px;
		height: 1.8px;
	}
	.burger-checkbox:checked + .burger::before {
		top: 0px;
	}

	.burger-checkbox:checked + .burger::after {
		bottom: 4px;
	}
	.burger-menu {
		position: absolute;
		left: 16px;
	}
	.header__rc {
		gap: 24px;
	}
	.menu {
		top: 66px;
		padding: 0px;
		flex-direction: column;
	}
	.menu-list a {
		font-size: 12px;
	}
	.menu-list li {
		padding-bottom: 2px;
	}
	.menu-column {
		margin-right: 0px;
		max-height: 200px;
		margin-bottom: 15px;
		padding: 5px 20px 0 20px;
	}
	.menu-column h3 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	details summary {
		font-size: 12px;
		margin-bottom: 5px;
	}
	details summary::before {
		height: 15px;
		width: 15px;
	}
	#button_up {
		display: none;
	}
	.main__h1 {
		color: rgb(21, 21, 21);
		font-family: Golos;
		font-size: 24px;
		font-weight: 700;
		max-width: 344px;
	}
	.footer__wrapper {
		display: block;
	}
	.main__desc {
		color: rgb(39, 39, 39);
		font-family: Golos;
		font-size: 14px;
		font-weight: 500;
		max-width: 300px;
		margin: 12px 0 11.5px 0;
	}
	.main__note {
		color: rgb(90, 90, 90);
		font-family: Golos;
		font-size: 12px;
		font-weight: 400;
		max-width: 300px;
		margin-bottom: 31.5px;
	}
	.mobile__first {
		margin: 32px 0 0 16px;
	}
	.footer__bg {
		padding-top: 38px;
	}
	.footer__about-nav {
		padding: 0;
		gap: 0;
		flex-wrap: wrap;
		max-width: 270px;
		margin: 0 auto;
	}
	.footer__about-info {
		margin: 0;
		max-height: 150px;
		text-align: left;
	}
	.footer__about-h {
		font-size: 18px;
		margin-bottom: 3px;
	}
	.footer-margin {
		margin-top: 27px;
	}
	.footer__about-link {
		font-size: 14px;
		padding-top: 12px;
		max-width: 130px;
	}

	.footer__wrapper {
		margin-top: 0;
	}
	.footer__logo {
		font-size: 40px;
		margin: 38px 0 0 44px;
	}
	.footer__about-button {
		padding: 8px 26px 11px 26px;
		font-size: 18px;
		margin: 20px 0 33px 48px;
	}
	.footer__social {
		padding: 22.5px 46px 26px 47px;
	}
	.footer__social-p {
		font-size: 12px;
		max-width: 150px;
	}
	.footer__social-link {
		width: 24.94px;
		height: 25px;
	}
	.footer__social-link img {
		width: 24.94px;
		height: 25px;
	}
}